
*,
*::before,
*::after {
    box-sizing: border-box;
}

nav,
footer {
    background-color:#BDD9F2 ;
}

a {
    text-decoration:none ;
}

body {
    font-family: "montserrat", sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

span {
    grid-column: 40;
    align-self: center;
    color: #404040;
}

.about_bodytext {
    max-width: 600px;
}

.about_heading {
font-size: 30px;
}

.about_image_a{
    max-height: 65em;
    max-width: 65em;
    border-radius: 1.5%;
}

.about_image_b{
    max-width: 65em;
    border-radius: 20px;
}


.bodytext {
    font-size: 11px;
}

.container {
    border: 2px solid #f00;
}

.checkout_page_jacket {
    max-width: 30em;
}

.gender_jackets {
    background-color: #BDD9F2;
    margin: 5px;
    border-radius: 10px;
    float: left;
    font-size: 35px;
}

.gender_jackets_box {
    display: flex;
}

.gender_picture {
    border-radius: 10px 10px 0px 0px;
}

.headings {
    font-size: 11px;
    font-weight: bolder;
}

.hero {
    width: 100%;
}

.index_jackets {
    width: 10%;
}

.index_jackets_box {
    display: flex;
}

.jacket_page_main {
    width: 40em;
}

.jacket_page_list {
    width: 20em;
}

.jacket_page_box {
    display: flex;
    border:rgb(169, 27, 27) solid 10px;
    justify-content:space-evenly;

}

.jacket_page_card {
    border:#010958 solid 10px;
}

.list_of_jackets_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}

.list_of_jackets_card {
    border: rgb(133, 29, 29) solid 10px;
    border-radius: 5px;
}

.list_of_jackets_img {
    max-width: 20em;
    border: #3c46a6 solid 10px;
    border-radius: 5px;
    float: left;
}

.logo {
    max-width: 12em;
}

.material_symbols_outlined {
    min-width: 30px;
}

.ordsuc1 {
    font-size: 20px;
}

.ordsuc2 {
    font-size: 15px;
}

.shopping_cart {
    min-width: 75px;
    max-width: 100px;
}

#rectangle {
    background: #f00;
    width: 50px;
    height: 50px;
}